/**
 * Stylesheet for jQuiz
 *
 * Author: Renan Martins
 */

/**
 * General HTML styles
 */
html, body {
	/*font-family: Georgia, Verdana, serif, Times;*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: large;
}
table {
	background-color: Moccasin;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.site-header,
.site-menu,
.site-content,
.site-footer
{
	width: 100%;
}


/**
 * For the site header
 */
.site-header {
	background-color: AntiqueWhite;
	text-align: center;
	padding: 10px;

	border: 1px solid black;
  border-radius: 6px 6px 0 0;
}
.site-header .site-title {
	font-size: xx-large;
}


/**
 * For the site menu
 */
.site-menu {
	background-color: AntiqueWhite;
	text-align: center;
	padding: 10px;

	border: 1px solid black;
}
.site-menu ul {
	list-style: none;
}
.site-menu li {
	border-right: 1px solid black;

	margin-right: 0;
	margin-left: 0;

	padding-right: 10px;
	padding-left: 10px;

	display: inline-block;
}
.site-menu li:last-child {
	border-right: 0;
}

.lesson-menu {
	display: none;
}


/**
 * For the site content
 */
.site-content {
	background-color: AntiqueWhite;
	text-align: center;
	padding: 10px;

	border: 1px solid black;
}

/* For the question area */
.question-area {
	margin: 0 auto;
	padding: 25px;

	border-radius: 12px;
	border: 2px solid black;

	display: inline-block;
}
.question-prompt {
	color: DarkBlue;
	font-size: x-large;
	display: block;
}
.question-choices {
	font-size: large;
	text-align: left;
}
.question-item {
	margin: 15px;
	padding: 0;

	display: block;
	cursor: pointer;
}
.question-item a {
	color: black;
	text-decoration: none;
}
.question-item a:link, a:visited {
	color: black;
}
.question-item a:hover {
	background-color: yellow;
}
.question-item a:active {
	color: violet;
}

.response-message {
	background-color:Cornsilk;
	text-align: center;

	/*margin: 0 auto;*/
	padding: 12px;

	border-radius: 12px;
	border: 1px solid black;

	display: inline-block;
	float: left;
}

.continue-button {
	background-color: Gainsboro;

	padding: 12px;

	border-radius: 6px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #888888;

	display: inline-block;

	cursor: pointer;

	float: right;
}
.continue-button a {
	text-decoration: none;
}

.results-panel {
	background-color: Azure;

	margin-top: 25px;
	padding: 12px;

	border-radius: 12px;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888;

	display: inline-block;
	clear:both;
}


/**
 * For the site footer
 */
.site-footer {
	background-color: AntiqueWhite;
	text-align: center;

	padding: 10px;

	border: 1px solid black;
}
.site-footer .site-copyright {
	font-size: small;
}


/**
 * For the DEBUG MODE
 */
.debug-mode-message {
	color: green;
	text-align: center;
	width: 50%;

	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 6px;

	border: 3px solid Violet;
	display: block;
}


.site-wrapper {
  margin: 0 auto;
  width: 90%
}

/* Smartphones */
@media (max-width: 767px) {

}

/* Tablets */
@media (min-width: 768px) {

}

/* Desktops */
@media (min-width: 992px) {

}

/* Large Desktops */
@media (min-width: 1200px) {

}
