/**
 * Stylesheet for jQuiz
 *
 * Author: Renan Martins
 */

/**
 * General HTML styles
 */
html, body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
  margin: 0;
  padding: 0;
}
table {
	background-color: Moccasin;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.site-header,
.site-menu,
.site-content,
.site-footer
{
  margin: 0;
}


/**
 * For the site header
 */
.site-header {
  background-color: #645e56;
  color: #fdf7ef;
	text-align: center;
	padding: 0;

	border: 2px solid black;
  border-radius: 6px 6px 0 0;
}
#site-title {
	font-size: 2em;
  padding: 12px;
  border-bottom: 2px solid black;
}


/**
 * For the site menu
 */
.site-menu {
  background-color: #c8bcac;
  color: #191715;
	text-align: center;
  padding: 15px;
  margin: 0;
}
.site-menu ul {
	list-style: none;
  margin: 0;
  padding: 0;
}
.site-menu li {
	border-right: 1px solid black;

	margin-right: 0;
	margin-left: 0;

	padding-right: 10px;
	padding-left: 10px;

	display: inline-block;
}
.site-menu li:last-child {
	border-right: initial;
}

.lesson-menu {
	display: none;
}


/**
 * For the site content
 */
.site-content {
	background-color: AntiqueWhite;
	text-align: center;
	padding: 10px;

	border: 2px solid black;
  border-top: 0px;
}

/* For the question area */
.question-area {
	margin: 0 auto;
	padding: 25px;
  width: 70%;

	border-radius: 12px;
	border: 2px solid black;

	display: block;
	position: relative;
	overflow: auto;
}
.question-prompt {
	color: DarkBlue;
	font-size: 1.25em;
	display: block;
}
.question-choices {
	font-size: 1em;
	text-align: left;
}
.question-item {
	margin: 15px;
	padding: 0;

	display: block;
	cursor: pointer;
}
.question-item a {
	color: black;
	text-decoration: none;
}
.question-item a:link, a:visited {
	color: black;
}
.question-item a:hover {
	background-color: yellow;
}
.question-item a:active {
	color: violet;
}

.response-message {
	background-color:Cornsilk;
	text-align: center;

	/*margin: 0 auto;*/
	padding: 12px;

	border-radius: 12px;
	border: 1px solid black;

	display: inline-block;
	float: left;
}

.continue-button {
	background-color: Gainsboro;

	padding: 12px;

	border-radius: 6px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #888888;

	display: inline-block;

	cursor: pointer;

	float: right;
}
.continue-button a {
	text-decoration: none;
}

.results-panel {
	background-color: Azure;

	margin-top: 25px;
	padding: 12px;

	border-radius: 12px;
	border: 1px solid black;
	box-shadow: 8px 8px 8px #888888;

	display: inline-block;
	clear:both;
}


/**
 * For the site footer
 */
.site-footer {
  background-color:	#d7e6fa;
	text-align: center;

	padding: 2%;

	border: 2px solid black;
  border-top: 0px;
}
#site-copyright {
	font-size: 0.8em;
}


/**
 * For the DEBUG MODE
 */
.debug-mode-message {
	color: green;
	text-align: center;
	width: 50%;

	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 6px;

	border: 3px solid Violet;
	display: block;
}


.site-wrapper {
  margin: 0 auto;
  padding: 0 15px 0;
}

/* Media Queries
   for Responsive Design */

/* Smartphones */
@media (max-width: 767px) {
  .site-wrapper {
    width: auto;
    padding: 0;
  }
  .site-header,
  .site-content,
  .site-footer {
    border: initial;
  }
  .site-header {
    background-color: #645e56;
    color: #fdf7ef;
    border-radius: initial;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 1px solid black;
  }
  #site-title {
    border-bottom: 1px solid black;
  }
  .site-menu {
    background-color: #c8bcac;
    color: #191715;
    padding: 0;
  }
  .site-menu ul {
  }
  .site-menu li {
    display: block;
    margin: 0;
    border: initial;
    padding: 12px;
  }
  .site-menu li:last-child {
  	border-right: initial;
  }
  .site-menu li:hover {
    background-color: #d7e6fa;
  }
  .site-menu a:link,
  .site-menu a:visited,
  .site-menu a:active,
  .site-menu a:hover {
    text-decoration: none;
  }
  .site-content {
		padding-left: 0;
		padding-right: 0;
    border-bottom: 1px solid black;
  }
  .question-area {
    border: initial;
    border-radius: initial;
    padding: 0 2% 0;
    width: auto;
  }
  .question-prompt {
    text-align: left;
  }
  .question-item {
    margin-left: 0;
  }
	.response-message,
	.continue-button {
		background-color: inherit;
		border: initial;
		border-radius: initial;
		display: block;
		float: none;
		text-align: center;
	}
	.continue-button {
		box-shadow: none;
	}
	.results-panel {
		border: 2px solid black;
		display: block;
		float: none;
		box-shadow: none;
		text-align: center
	}
  .site-footer {
    background-color:	#d7e6fa;
    border-bottom: 1px solid black;
  }
}

/* Tablets */
@media (min-width: 768px) {
  .site-wrapper {
    width: 750px;
  }
}

/* Desktops */
@media (min-width: 992px) {
  .site-wrapper {
    width: 970px;
  }
}

/* Large Desktops */
@media (min-width: 1200px) {
  .site-wrapper {
    width: 1170px;
  }
}
